:root {
  --max-width: 1024px;
  --border-radius: 12px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

input,
button {
  box-shadow: none;
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: 700;
  line-height: 1.6rem;
  color: #000000;
  letter-spacing: -0.02em;
}

h5 {
  font-size: 20px;
}

ul,
li {
  list-style: none;
}
